#wrapper 	{	margin-left: auto; 
				margin-right: auto; 
				width: 90%; 
				background-color: #500000; 
				min-width: 750px; 
				max-width: 1500px; 
				box-shadow: 5px 5px 10px; 
				height: auto; 
			}
			
#login	{
	height: 30px;
}			

body 	{ 	background-color: #cccccc;
			color: #333333; 
			font-family: Verdana, Arial, sans-serif; 
		}

.error-message {
	padding: 7px 10px;
	background: #fff1f2;
	border: #ffd5da 1px solid;
	color: #d6001c;
	border-radius: 4px;
}

.success-message {
	padding: 7px 10px;
	background: #cae0c4;
	border: #c3d0b5 1px solid;
	color: #027506;
	border-radius: 4px;
}

.demo-table {
	width: 50%;
	border-spacing: initial;
	margin: 0px 0px;
	word-break: break-word;
	table-layout: auto;
	line-height: 1.8em;
	color: #333;
	border-radius: 0px;
	padding: 20px 40px;
	margin-left: 400px;
	border: 1px solid #42464b;
	border-radius: 6px;
}

.demo-table td {
	padding: 5px 0px;
}

.demoInputBox {
	padding: 5px 30px;
	border: #a9a9a9 1px solid;
	border-radius: 4px;
}

.btnRegister {
	padding: 10px 30px;
	background-color: #3367b2;
	border: 0;
	color: #FFF;
	cursor: pointer;
	border-radius: 4px;
	margin-left: 275px;
    margin-right: auto;
}
		
header 	{	background-color: #800000; 
			color: #ffff99; 
			font-family: "Arial Black", Gadget, sans-serif; 
		}
		
h1 	{	text-align: center;
		color: #ffff99;
		line-height: 225%;  
		height: 75px; 
		margin-bottom: 0; 
	}

h1 a {	text-decoration: none;
		color: #ffff99;
	}
	
nav 	{	font-weight: bold; 
		width: 100%;
		margin: auto;
		background-color: #000000;
	}
	
nav ul 	{	list-style-type: none;
			margin: 0;
			padding: 0;
			text-align: center; 
		}
	
nav a 	{ 	text-decoration: none;
			display: inline-block; 
			padding: 10px; 
		}
		
nav li 	{	display: inline-block;
		}
		
nav a:hover:not(.active) {	color: #ffcc00;
							background-color: #900000; 
						}

.active {
    background-color: #700000;
}
			
nav a:visited 	{ color: #FDFDFD; 
				}
		
h2 	{	border-bottom: 5px solid #804d00;	
		color: #804d00;
	}

#searchform input {
	display: inline-block;
}

#searchstr {
	width: 50%;
  	border-style: solid;
        border-width: 2px;
	border-color: coral;
    	font-size: 17px;
	padding-left: 10px;
}

#searchbox {
	margin: 10px 0px 0px 0px;
	width: 100%;
	text-align: center;
}
			
h3	{	color: #800000; 
	}

main	{	background-color: #FFFFFF; 
		padding: 1px 20px 35px 20px;
		min-height: 300px; 
	}
		
.clear 	{	overflow: auto; 
		}

header, nav, main, footer 	{	display: block; 
						}

.text 	{	text-align: left; 
		}

label 	{	width: 10em; 
			padding-right: auto; 
			float: left; 
			display: block; 
		}
		
input, textarea 	{	display: block;
					margin-bottom: 1em; 
				}
				
#mySubmit 	{	margin-left: 10em;
			}	
			
span a:link 	{	color: #101010; 
			}
			
span a:visited	{	color: #663300; 
				}
			
span a:hover {	color: #ff0000; 
			}

.right	{	float: right;
		}
		
.movie {
	display: inline-block;
	margin: 10px;
	padding: 10px;
	text-align: center;
}

.watchbtn {
	display:inline-block;
	margin: 0 auto;
}

iframe {
	display: block;
	margin: 0 auto;
}
			
#register {
	display: inline-block;
	float:right;
	padding: 10px;
	border:1px solid #ffffff; 
    -moz-border-radius:3px;
	margin: 0px 0px 0px 5px;
}		

#register a {
	display: inline-block;
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 15px;
}

#register:hover {
	background-color:#900000;
}
	
#loginContainer {
    position:relative;
	float: right;
    font-size:12px;
	padding: 5px 0px 0px 0px;
}


#loginButton { 
    display:inline-block;
    float:right;
    background:#500000; 
    border:1px solid #ffffff; 
    -moz-border-radius:3px;
    position:relative;
    z-index:30;
    cursor:pointer;
}


#loginButton span {
    color:#FFFFFF; 
    font-size:14px; 
    font-weight:bold; 
    padding:7px 29px 9px 10px;
    background:url(images/loginArrow.png) no-repeat 53px 7px;
    display:block
}

#loginButton:hover {
    background-color:#900000;
}


#loginBox {
    position:absolute;
    top:34px;
    right:0;
    display:none;
    z-index:29;
}

#loginButton.active {
	background-color:#900000;
}

#loginButton.active span {
    background-position:53px -76px;
}


#loginButton.active em {
    position:absolute;
    width:100%;
    height:1px;
    background:#d2e0ea;
    bottom:-1px;
}


#loginForm {
    width:248px; 
    border:1px solid #899caa;
    margin-top:-1px;
    background:#500000;
    padding:6px;
}

#loginForm fieldset {
    margin:0 0 12px 0;
    display:block;
    border:0;
    padding:0;
}

fieldset#body {
    background:#fff;
    border-radius:3px;
    -moz-border-radius:3px;
    padding:10px 13px;
    margin:0;
}

#loginForm #checkbox {
    width:auto;
    margin:1px 9px 0 0;
    float:left;
    padding:0;
    border:0;
    *margin:-3px 9px 0 0; 
}

#body label {
    color:#3a454d;
    margin:9px 0 0 0;
    display:block;
    float:left;
}

#loginForm #body fieldset label {
    display:block;
    float:none;
    margin:0 0 6px 0;
}


#loginForm input {
    width:92%;
    border:1px solid #899caa;
    color:#3a454d;
    font-weight:bold;
    padding:8px 8px;
    font-size:12px;
}


#loginForm #login {
    width:auto;
    float:left;
    background:#339cdf url(images/loginbuttonbg.png) repeat-x;
    color:#fff;
    padding:7px 10px 8px 10px;
    border:1px solid #339cdf;
    margin:0 12px 0 0;
    cursor:pointer;
    *padding:7px 2px 8px 2px; 
}


#loginForm span {
    text-align:center;
    display:block;
    padding:7px 0 4px 0;
}

#loginForm span a {
    color:#FFFF99;
    font-size:12px;
}

input:focus {
    outline:none;
}

#genreform select {
	width: 10%;
}

#genreform input {
	display: inline;

}
.bg-2 {
    background-color: #474e5d;
    color: #ffffff;
}